body {
  margin: 0;
  padding: 0;
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

h1:hover {
  color: hsl(178, 100%, 50%);
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1740px;
}

/* card */

.card {
  width: 320px;
  height: 540px;
  border-radius: 15px;
  background: hsl(216, 50%, 16%);
  box-shadow: 10px 10px 40px hsl(218, 61%, 7%),
    -10px 10px 40px hsl(218, 61%, 7%);
}

.img {
  position: relative;
  z-index: 2;
}

.img img {
  display: inline-block;
  margin: 20px 20px 0 20px;
  width: 280px;
  height: 280px;
  background-size: 280px;
  border-radius: 10px;
}

.view-icon {
  width: 280px;
  height: 280px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  position: absolute;
}

.view-icon:hover {
  background: url(images/icon-view.svg) no-repeat, hsla(178, 100%, 50%, 0.322);
  background-position: 50% 50%;
  cursor: pointer;
}

.conteudo {
  height: 280px;
  padding: 0 20px;
}

.conteudo-desc {
  font-weight: 300;
  margin-top: 10px;
  font-size: 0.94rem;
  color: hsl(215, 51%, 70%);
  line-height: 1.5;
}

.conteudo-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px 0;
  align-items: center;
}

.conteudo-icons p {
  display: flex;
  color: hsl(215, 51%, 70%);
  gap: 10px;
  align-items: center;
  font-size: 0.94rem;
}

.conteudo-icons p span {
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.linha {
  display: inline-block;
  background: hsl(215, 32%, 27%);
  width: 100%;
  border-radius: 50%;
  height: 2px;
}

/* footer */

footer {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

footer h3 {
  font-size: 0.94rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

footer h3 a {
  color: hsl(0, 0%, 100%);
}

footer h3 a:hover {
  color: hsl(178, 100%, 50%);
}

.footer-img img {
  display: block;
  height: 28px;
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 50%;
}
