body {
  margin: 0;
  padding: 0;
  background: hsl(217, 54%, 11%);
}

h1,
p {
  margin: 0;
  padding: 0;
}

.img {
  padding: 30px;
}

.img img {
  max-width: 100%;
  border-radius: 10px;
  height: 330px;
  width: 330px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1740px;
}

.card {
  width: 375px;
  height: 640px;
  border-radius: 15px;
  background: hsl(216, 50%, 16%);
}
